@media (max-width: 500px) {
    .lb-circle {
        font-size: clamp(8px, calc((10 / 500) * 100vw), 10px);
        ;
    }

    .lb-rsvp1,
    .lb-rsvp2 {
        font-size: calc((12 / 500) * 100vw);
    }

    .lb-top,
    .lb-time,
    .lb-time3 {
        font-size: calc((15 / 500) * 100vw);
    }

    .lb-told2 {
        font-size: calc((16 / 500) * 100vw);
        word-spacing: calc((2 / 500) * 100vw);
        letter-spacing: calc((1 / 500) * 100vw);
    }

    .lb-told1,
    .lb-told3 {
        font-size: calc((16 / 500) * 100vw);
    }

    .lb-told4 {
        font-size: calc((18 / 500) * 100vw);
    }

    .lb-rec1,
    .lb-rec2 {
        font-size: calc((17 / 500) * 100vw);
    }
    
    .note p {
        font-size: calc((18 / 500) * 100vw);
    }

    .lb-rsvp3 {
        font-size: calc((20 / 500) * 100vw);
    }

    .lb-save {
        font-size: calc((30 / 500) * 100vw);
    }

    .lb-name,
    .lb-rec {
        font-size: calc((40 / 500) * 100vw);
    }

    .lb-time2 {
        font-size: calc((50 / 500) * 100vw);
    }

    .circle-image {
        max-width: calc((50 / 500) * 100vw);
    }

    #rsvpForm label {
        font-size: calc((14 / 500) * 100vw);
    }

    #rsvpForm select, input {
        height: calc((36 / 500) * 100vw);
      }

    #rsvpForm input,
    select, textarea {
        font-size: calc((12 / 500) * 100vw);
    }

    div:where(.swal2-container) h2:where(.swal2-title) {
        font-size: calc((30 / 500) * 100vw);
    }

    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm),
    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
        font-size: calc((15 / 500) * 100vw);;
    }

    .confirm-sub-vn {
        font-size: calc((16 / 500) * 100vw);;
    }
}